.contact{
  background: $whiteShade;
  
  &__figure{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    &__image{
      display: block;
      object-fit: cover;
    }

    &__h1{
      @include font($lora, $bold, 7rem, $black);
      text-transform: uppercase;
      position: absolute;
      bottom: -10%;
      left: 10%;
      transition: font-size 0.3s;
      @media (max-width: 800px){
        font-size: 5rem;
      }
    }
  }

  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    /* tablet */
    @media (max-width: 1035px){
      flex-direction: column;
    }

    &__aside{
      height: 100%;
      width: 30%;
      background: white;
      padding: 2.5%;
      /* tablet */
      @media (max-width: 1035px){
        width: 95%;
        margin: 0 5%;
      }
      @media (max-width: 800px){
        margin: 0 2.5%;
      }

      &__ul{
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;

        &__i{
          color: $orangeyYellow;
          font-size: 2rem;
          padding: 0 10px;
        }
      }

      &__info{

        &__p,
        &--bold{
          @include font($roboto, $normal, 2rem, $black);
          line-height: 32px;
          
        }
        
        &--bold{
          font-weight: $bold;
        }
      }
    }

    &__main{
      width: 67.5%;
      /* tablet */
      @media (max-width: 1035px){
        width: 100%;
        margin: 2.5%;
      }
      @media (max-width: 800px){
        margin: 2.5%;
        width: 95%;
      }
    }
  }
}