.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  background: $grey;

  &__copyright{
    @include font($roboto, $normal, 20px, $whiteShade);
    line-height: 32px;
    padding: 10px 0;
  }
}
