form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15%;
  /* tablet */
  @media (max-width: 1035px){
    margin: 2.5%;
  }
  @media (max-width: 800px){
    margin: 0;
    margin-top: 5%;
  }

  label{
    /* hides the label but still avaliable to screen readers */
    position: absolute;
    clip: rect(1px 1px 1px 1px);
  }

  input[type=text] {
    width: 49%; 
    margin-bottom: 10px;
    padding: 15px;
    border: none;
    @include font($roboto, $normal, 2rem, grey);
    font-style: italic;
    line-height: 32px;
  }

  input[type=text].full{
    width: 100%;
    padding-bottom: 200px;
  }

  input:focus{
    outline: none;
  }
  
  input[type=submit] {
    text-transform: uppercase;
    width: 100%;
    background-color:$accent;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 5px 0;
    transition: color 0.3s;
    @include font($roboto, $bold, 2rem, $black);
    line-height: 32px;
  }
  
  input[type=submit]:hover {
      color: white;
  }
}