html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* 1rem = 10px */
  font-size: 62.5%;
  transition: font-size 0.3s;
  
  @media (max-width: 800px){
    /* 1rem = 11px */
    font-size: 68.75%;
  }
}

body{
  max-width: 1600px;
  margin: 0 auto;
}

.skip-link {
  position: fixed;
  width: 80%;
  text-align: center;
  left: -10000px;
  top: 0px;
  z-index: 999;
  background: rgba(0,0,0,0.3);
  @include font($roboto, $bold, 2rem, $whiteShade);
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 1rem;
  &:focus {
    left: 10%;
    outline: none;
  }
}

.wrapper{
  transition: width 1s;
  width: 80%;
  margin: 0 auto;
  @media (max-width: 1035px){
    width: 85%;
  }
  @media (max-width: 800px){
    width: 90%;
  }
}

p.lorem,
a.button{
  @include font($roboto, $normal, 2rem, $black);
  line-height: 32px;
  padding: 10px 0;
}

a.button{
  transition: color 0.2s;
  @include font($roboto, $bold, 2rem, $black);
  text-align: center;
  letter-spacing: 1px;
  background: $accent;
  padding: 20px;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s;

  &:hover{
    color: white;
  }
}

p.lorem-italic{
  @include font($roboto, $normal, 2rem, $black);
  font-style: italic;
  line-height: 32px;
}

a.blue-link{
  color: $accent;

  &--bold{
    color: $accent;
    font-weight: $bold;
  }
}

h2.h2,
h3.h3,
h4.h4{
  text-transform: uppercase;
  padding: 10px 0;
  @include font($roboto, $bold, 42px, $black);
  letter-spacing: 1px;
}

h3.h3{
  @include font($roboto, $bold, 32px, $black);
}

h4.h4{
  @include font($roboto, $bold, 24px, $black);
}