header{
  background: $orangeyYellow;
  color: $black;
  text-transform: uppercase;
  height: 50px;
  display: flex;
  align-items: center;

  ul{
    width: 40%;
    min-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li:nth-child(3){
      padding: 0 20px;
      @include font($lora, $normal, 30px, $black);
    }
    
    a:hover{
      transition: all 0.2s;
      color: white;
    }
  }
}
