.header{
  background: $orangeyYellow;
  color: $black;
  text-transform: uppercase;
  height: 50px;
  display: flex;
  align-items: center;

  &__ul{
    width: 40%;
    min-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    &__a{
      transition: all 0.2s;
      &:hover{
        color: white;
      }
  
      &--mainLogo{
        margin: 0 20px;
        @include font($lora, $normal, 30px, $black);
      }
    }
  }
}
