.section1{
  background: $orangeyYellow;

  &__wrapper{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__centered{
      display: flex;
      justify-content: center;
      width: 50%;

      &__h1{
        @include font($lora, $normal, 70px, $black);
        text-transform: uppercase;
        position: relative;

        &__circle{
          position: absolute;
          top: -50%;
          right: 20%;
          bottom: 50%;
          left: -20%;
        }
      }
    }

    &__figure{
      width: 50%;

      &__image{
        display: block;
        box-shadow: 10px 10px 0 white;
        transform: translateY(10%);
      }
    }
  }
}

.section2{
  padding: 40px 0;
  background: $whiteShade;

  &__wrapper{
    h2{
      text-transform: uppercase;
      padding: 10px 0;
      @include font($roboto, $bold, 40px, $black);
    }
  
    p{
      padding: 30px 0;
    }
  }
}
